<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <p><%= product.product.title %> (<%= product.quantity %>)</p>
                    <form action="/cart-delete-item" method="post">
                        <input type="hidden" name="id" value="<%= product.product.id %>" />
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <h1>No Products in Cart!</h1>
    <% }%>
</main>
<%- include('../includes/end.ejs') %>
