<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main class="centered">
    <% if(product) { %>
        <h1><%= product.title %></h1>
        <hr />
        <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <form action="/cart" method="post">
            <button class="btn" type="submit">Add to Cart</button>
        </form>
    <% } else { %>
        <h1>No Product Found!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>
